In [1]:
d = {10:'what',15:'hii',{20:2.3,25:89},18:3+4j}
print(d,type(d))

SyntaxError: invalid syntax (3294149411.py, line 1)

In [6]:
d1 = {10:'what',15:'hii','im' : {20:2.3,25:89}, 18:3+4j}
print(d1,type(d1))

{10: 'what', 15: 'hii', 'im': {20: 2.3, 25: 89}, 18: (3+4j)} <class 'dict'>

In [8]:
d1['im'].get(20)

2.3

In [10]:
d1[20] = {20:68,25:'too'}
print(d1)

{10: 'what', 15: 'hii', 'im': {20: 2.3, 25: 89}, 18: (3+4j), 4: {20: 68, 25: 'too'}, 20: {20: 68, 25: 'too'}}

In [13]:
for k,v in d1.items():
    print(k,'---->',v,'----->',type(v),type(d1))

10 ----> what -----> <class 'str'> <class 'dict'>
15 ----> hii -----> <class 'str'> <class 'dict'>
im ----> {20: 2.3, 25: 89} -----> <class 'dict'> <class 'dict'>
18 ----> (3+4j) -----> <class 'complex'> <class 'dict'>
4 ----> {20: 68, 25: 'too'} -----> <class 'dict'> <class 'dict'>
20 ----> {20: 68, 25: 'too'} -----> <class 'dict'> <class 'dict'>

In [14]:
d1.get(20)

{20: 68, 25: 'too'}

In [15]:
d1.get(25)

In [16]:
d1.pop(20)
print(d1)

{10: 'what', 15: 'hii', 'im': {20: 2.3, 25: 89}, 18: (3+4j), 4: {20: 68, 25: 'too'}}

In [17]:
d1[4].pop(20)
print(d1)

{10: 'what', 15: 'hii', 'im': {20: 2.3, 25: 89}, 18: (3+4j), 4: {25: 'too'}}

In [18]:
d2 = {10:'hii',15:8.9,20:{2,3,4,5},25:7}
for k,v in d2.items():
    print(k,'--->',v,'--->',type(v),type(d2))

10 ---> hii ---> <class 'str'> <class 'dict'>
15 ---> 8.9 ---> <class 'float'> <class 'dict'>
20 ---> {2, 3, 4, 5} ---> <class 'set'> <class 'dict'>
25 ---> 7 ---> <class 'int'> <class 'dict'>

In [19]:
d2[20].remove(4)
print(d2)

{10: 'hii', 15: 8.9, 20: {2, 3, 5}, 25: 7}

In [20]:
d2[20]

{2, 3, 5}

In [21]:
d2[20].add(4)
print(d2)

{10: 'hii', 15: 8.9, 20: {2, 3, 4, 5}, 25: 7}

In [32]:
d3 = {10:'hii',15:8.9,20:(2,3,4,5,3),25:7}
for k,v in d3.items():
    print(k,'--->',v,'--->',type(v),type(d3))

10 ---> hii ---> <class 'str'> <class 'dict'>
15 ---> 8.9 ---> <class 'float'> <class 'dict'>
20 ---> (2, 3, 4, 5, 3) ---> <class 'tuple'> <class 'dict'>
25 ---> 7 ---> <class 'int'> <class 'dict'>

In [24]:
d3[20].count(3)

2

In [37]:
d3[20] = tuple(sorted(d3[20]))[::-1]
print(d3)

{10: 'hii', 15: 8.9, 20: (5, 4, 3, 3, 2), 25: 7}

In [25]:
d3[20].pop(2)

AttributeError: 'tuple' object has no attribute 'pop'

In [26]:
del d3[20]
print(d3)

{10: 'hii', 15: 8.9, 25: 7}

In [27]:
d4 = {10:'hii',15:'what',20:[3,4,5,6,'joo',6.8],21:8+4j}
for k,v in d4.items():
    print(k,'--->',v,'--->',type(v),'--->',type(d4))

10 ---> hii ---> <class 'str'> ---> <class 'dict'>
15 ---> what ---> <class 'str'> ---> <class 'dict'>
20 ---> [3, 4, 5, 6, 'joo', 6.8] ---> <class 'list'> ---> <class 'dict'>
21 ---> (8+4j) ---> <class 'complex'> ---> <class 'dict'>

In [28]:
d4[20].pop(1)
print(d4)

{10: 'hii', 15: 'what', 20: [3, 5, 6, 'joo', 6.8], 21: (8+4j)}

In [29]:
a = d4[20].copy()
print(a)

[3, 5, 6, 'joo', 6.8]

In [40]:
d5 = (2,'hii',8.9,{'name':'naresh','marks':90},3+4j)
for i in d5:
    print(i,'--->',type(i))
print(type(d5))

2 ---> <class 'int'>
hii ---> <class 'str'>
8.9 ---> <class 'float'>
{'name': 'naresh', 'marks': 90} ---> <class 'dict'>
(3+4j) ---> <class 'complex'>
<class 'tuple'>

In [42]:
d5[-2]['school'] = 'nagarjuna'
print(d5)

(2, 'hii', 8.9, {'name': 'naresh', 'marks': 90, 'school': 'nagarjuna'}, (3+4j))

In [43]:
d5[-2].pop('marks')
print(d5)

(2, 'hii', 8.9, {'name': 'naresh', 'school': 'nagarjuna'}, (3+4j))

In [45]:
for k,v in d5[-2].items():
    print(k,'--->',v)

name ---> naresh
school ---> nagarjuna

In [46]:
s = {2,6,4,{2:'free'},'hii',9.3}
print(s)

TypeError: unhashable type: 'dict'

In [48]:
l = [2,5,'hii',{1:'naresh',2:'marks',3:89},9.8]
for i in l:
    print(i,type(i))
print(type(l))

2 <class 'int'>
5 <class 'int'>
hii <class 'str'>
{1: 'naresh', 2: 'marks', 3: 89} <class 'dict'>
9.8 <class 'float'>
<class 'list'>

In [49]:
l[-2].keys()

dict_keys([1, 2, 3])

In [53]:
l[-2][4] = 'school'
print(l)

[2, 5, 'hii', {4: 'school'}, 9.8]

In [51]:
l[-2].popitem()
l[-2]

{1: 'naresh', 2: 'marks', 3: 89}

In [52]:
l[-2].clear()
print(l)

[2, 5, 'hii', {}, 9.8]

In [54]:
print(l)

[2, 5, 'hii', {4: 'school'}, 9.8]

In [55]:
l[-2][1] = 'naresh'
print(l)

[2, 5, 'hii', {4: 'school', 1: 'naresh'}, 9.8]